{% extends "readers/base.html"%}
{% block body %}
    <div class="main panel col-lg-8 col-lg-offset-2">
    <form action="{% url "readers:signup" %}" method="POST" class="form-controls">
        {% csrf_token %}
        <table class="col-lg-6 col-lg-offset-3">
                <tr>
                <th>
                    <label for="firstname">
                    First Name:
                    </label>
                </th>
                <td><input type="text" name="firstname" id="firstname" value="{{ first_name }}"></td><td class="error-style">{{ error.error_first_name }}{{ user_exists }}</td>
                </tr>
                <tr>
                    <th><label for="lastname">
                            Last Name:
                        </label>
                    </th>
                <td><input type="text"name="lastname" id="lastname" value="{{ last_name }}"></td><td class="error-style">{{ error.error_last_name }}</td>
                </tr>
                <tr>
                    <th><label for="email">
                        Email:
                        </label>
                    </th>
                <td><input type="email"name="email" id="email" value="{{ email }}"></td><td class="error-style">{{ error.error_email }}</td>
                </tr>
                <tr>
                    <th><label for="password">
                        Password:
                        </label>
                    </th>
                <td><input type="password"name="password" id="password"></td><td class="error-style">{{ error.error_password}}</td>
                </tr>
                <tr>
                    <th>
                        <label for="confirmpassword">
                        Confirm Password:
                            </label>
                    </th>
                <td><input type="password"name="confirmpassword" id="confirmpassword"></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Sign Up" class="btn btn-primary">
                    </td>
                </tr>

            </table>
                </form>

    </div>

{% endblock %}
